.CodeMirror {
    height: 100%;
}

.label-mbr {
    background-color: rgba(118, 42, 218, 0.69);
}

.label-opr-i {
    background-color: rgba(0, 179, 107, 0.55);
}

.label-clock {
    background-color: rgba(0, 0, 102, 0.55);
}

.label-fetch {
    background-color: rgba(51, 153, 255, 0.55);
}

.label-last-istr {
    word-wrap: break-word;
    white-space: normal !important;
    background-color: rgba(102, 102, 51, 0.55);
}

.ctrl-unit-led {
    font-size: 18px;
}

.pc-style span {
    background: #5bc0de !important;
    color: #ffffff !important;
}

.mar-style span {
    background: #f0ad4e !important;
    color: #ffffff !important;
}

.pc-style.mar-style span {
    background: #5cb85c !important;
    color: #ffffff !important;
}

.cur-cmd pre span span {
    padding: 2px;
    box-shadow: 0px 0px 2px 2px #673AB7;
}

.terminal {
    background-color: #272822 !important;
    color: #5cb85c;
}

.selected span{
    font-weight: bold;
}

.selected-source span{
    font-weight: bolder;
}

.file-open {
    position: absolute;
    top: -0.075rem;
    left: -0.4rem;
    z-index: 5;
    height: 1.95rem;
    padding: .25rem .75rem;
    line-height: 1.5;
    color: #0275d8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-open::before {
    position: absolute;
    top: 0.01rem;
    left: 0rem;
    z-index: 6;
    display: block;
    height: 1.95rem;
    padding: .25rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #0275D6;
    content: "Open";
    background-color: transparent;
    border: 1px solid #0275d8;
    border-radius: .2rem 0 0 .2rem;
}

.file-open:hover::before {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
.file-open:active::before {
    outline: thin dotted;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
    outline: 5px auto -webkit-focus-ring-color;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
    outline-offset: -2px;   
}

.file {
    width: 3.46rem;
    height: 1.5rem !important;
}

.file input {
    min-width: 1rem !important;
    width: 3.46rem;
    display: none;
}